body,
ul,
.hero-container,
.navbar,
.navbar-wrapper,
.hero-content,
.hero-content-wrapper,
.info-container,
.boxes,
.info-content,
.quote-container,
.cta-container,
.cta-wrapper {
  display: flex;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
  transition: 0.10s;
}

a:hover {
  color: black;
}

button {
  border: none;
  border-radius: 8px;
  height: 35px;
  min-width: 115px;
  transition: 0.15s;
}

.cta-btn:hover,
.hero-btn:hover {
  background-color: white;
  color: black;
}

/* Hero Section */
.hero-container {
  flex-direction: column;
  background-color: #c02217;
}

.navbar-wrapper,
.hero-content-wrapper {
  width: 1130px;
}

.navbar {
  justify-content: center;
  padding: 0px 20px;
}

.navbar-wrapper {
  align-items: center;
  min-width: 540px;
}

.hero-header {
  font-size: 24px;
  color: #f9faf8;
}

.right-links {
  margin-left: auto;
  gap: 24px;
}

.hero-content {
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
}

.hero-content-wrapper {
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.hero-main-text,
.hero-secondary-text {
  padding: 0;
  margin: 0;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  margin-bottom: 5px;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 15px;
}

.hero-btn {
  font-weight: bold;
  background-color: black;
  color: white;
}

.hero-img {
  height: 300px;
  background-color: grey;
  border-radius: 10px;
}

/* Info Section */
.info-container {
  flex-direction: column;
  align-items: center;
}

.info-header {
  font-size: 36px;
  font-weight: 800;
  color: #c02217;
  text-align: center;
}

.boxes,
.info-content {
  gap: 55px;
}

.info-content {
  justify-content: center;
  padding: 15px 20px;
  margin-bottom: 65px;
  flex-wrap: wrap;
}

.info-box {
  text-align: center;
  width: 160px;
}

.info-img {
  height: 150px;
  width: 150px;
  border: 5px solid #c02217;
  border-radius: 15px;
  margin-bottom: 5px;
}

.info-text {
  color: lightslategray;
}

/* Quote Section */
.quote-container {
  flex-direction: column;
  background-color: #a8d3b5;
  padding: 80px 100px 100px;
  align-items: center;
}

.quote-wrapper {
  max-width: 1000px;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #c02217;
  margin-bottom: 8px;
}

.quote-source {
  font-size: 22px;
  color: #c02217;
  font-weight: bold;
  margin-left: auto;
  width: fit-content;
}

/* Call To Action Section */
.cta-container {
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
}

.cta-wrapper {
  background-color: black;
  color: white;
  border-radius: 6px;
  padding: 45px 100px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 150px;
}

.cta-header,
.cta-text {
  padding: 0;
  margin: 0;
}

.cta-header {
  font-size: 21px;
  font-weight: 500;
  /* text-align: center; */
}

.cta-text {
  font-weight: 300;
}

.cta-btn {
  background-color: black;
  color: white;
  border: 2px solid white;
}

/* Footer Section */
footer {
  background-color: #c02217;
  color: #e5e7eb;
  text-align: center;
  font-weight: 200;
  padding: 15px 0;
}